<app-breadcrumb [listaDeItens]="[
        {
            name: 'Questões', link: '/questions', title: 'Lista de Questões'
        }
    ]"></app-breadcrumb>

<div class="mb-2">
    <span class="h2">Lista de questões</span>
    <button [routerLink]="['new']" type="button" class="btn btn-primary float-right">+ Nova questão</button>
</div>

<div class="card">

    <div class="card-header">
        <small>Dados das questões</small>
    </div>

    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Resposta</th>
                    <th scope="col">Opções</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Pontos</th>
                    <th scope="col">Questionário</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody *ngIf="resources$ | async;else error">
                <tr *ngFor="let question of resources$ | async">
                    <td> {{question.title}} </td>
                    <td> {{question.description}} </td>
                    <td> {{question.response}} </td>
                    <td> {{question.options}} </td>
                    <td> {{question.type.name}} </td>
                    <td> {{question.points}} </td>
                    <td> {{question.quiz.title}} </td>
                    <td><button [routerLink]="[question.id, 'edit']" type="button" class="btn btn-outline-warning">Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<ng-template #error>
    <div *ngIf="errors$ | async;else loading" class="alert alert-danger text-center" role="alert">
       Erro ao tentar carregar as questões
    </div>

    <ng-template #loading>
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </ng-template>
</ng-template>