<app-breadcrumb
    [listaDeItens]="[
        {
            name: 'Lista de Questionários', link: '/quizzes', title: 'Questionários'
        }
    ]"
></app-breadcrumb>

<div class="mb-3">
  <span class="float-letf h2">Formulario de questionário</span>
  <button [routerLink]="['new']" type="button" class="btn btn-primary float-right">+ Novo questionário</button>
</div>

<div class="card">

    <div class="card-header">
        <small>Dados dos questionários</small>
    </div>

    <div class="card-body">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Disciplina</th>
                <th scope="col" class="text-center">Questões</th>
                <th scope="col" class="text-center">Respostas</th>
              </tr>
            </thead>
            <tbody *ngIf="resources$ | async;else error">
              <tr *ngFor="let quiz of resources$ | async">
                <td> {{quiz.title}} </td>
                <td> {{quiz.category.name}} </td>
                <td class="text-center"> <small *ngFor="let question of quiz.questions"><i class="fas fa-circle fa-xs"></i> {{question.name}} </small></td>
                <td class="text-center"> <small *ngFor="let question of quiz.questions"><i class="far fa-circle fa-xs"></i> {{question.response}} </small></td>
              </tr>
            </tbody>
          </table>
    </div>

</div>

<ng-template #error>
  <div *ngIf="errors$ | async;else loading" class="alert alert-danger text-center" role="alert">
     Erro ao tentar carregar as questões
  </div>

  <ng-template #loading>
      <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
      </div>
  </ng-template>
</ng-template>