<app-breadcrumb
    [listaDeItens]="[
    {
        name: 'Categories', link: '/categories', title: 'Lista de Categorias'
    }
    ]"
></app-breadcrumb>

<div class="mt-4">
    <span class="h2">Lista de Categorias</span>
    <button [routerLink]="['new']" type="button" class="btn btn-primary float-right">+ Nova Categoria</button>
</div>

<div class="card mt-2">

    <div class="card-header">
        <small>Dados das Categorias</small>
    </div>

    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of resources$ | async">
                    <td>{{category.name}}</td>
                    <td>{{category.description}}</td>
                    <td><button type="button" class="btn btn-outline-warning">Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>