<app-breadcrumb
    [listaDeItens]="[
    {
        name: 'Categories', link: '/categories', title: 'Lista de Categorias'
    },
    {
        name: 'Formulario de Categoria', link: '/new', title: 'Formulario de Categoria'
    }
    ]"

></app-breadcrumb>

<div class="card">

    <div class="card-header">
        <small>Formulario de Categoria</small>
    </div>

    <div class="card-body">
        <form [formGroup]="resourceForm" (submit)="register()">

            <div class="form-group">
                <label for="name">Nome</label>
                <input formControlName="name" type="text" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">Descrição</label>
                <textarea formControlName="description" class="form-control" id="description" rows="3"></textarea>
            </div>
            <div class="form-group">
                <button (click)="reset()" type="button" class="btn btn-outline-danger float-left">Resetar</button>
                <button [disabled]="resourceForm.invalid" type="submit" class="btn btn-success float-right">Cadastrar</button>
            </div>

        </form>
    </div>

</div>